:root{
    --corPrimaria: #171025;
    --corSecundaria: #A489D1;
    --corTerciaria: #DDD3EE;
    --corQuartenaria: #F0F0F0;
    --white: #ffffff;

}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Poppins", sans-serif;
    background: var(--corPrimaria);
    color: var(--corTerciaria);
}
h1, h2, h3{
    font-weight: 700;
}

h1{
    color: var(--white);
    font-size: 2.5rem;
}
h2{
    color: var(--corTerciaria);
    font-size: 2rem;
    font-weight: 600;
}
h3{
    color: var(--corTerciaria);
    font-weight: 500;
    font-size: 1.2rem;
}
span {
    color: var(--corSecundaria);
}

#texto-resumo{
    font-size: 0.8rem;
}

p {
    color: var(--corQuartenaria);
    font-size: 1rem;
    line-height: 1.5rem;
}
section {
    width: 90%;
    margin: 2rem auto;
    z-index: 5;
}

header {
    display: flex;
    padding: 1rem 3.3rem;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: var(--corPrimaria);
}
.fundo{
    position: absolute;
    z-index: -1;
    width: 100%;
    top: 0;

}
nav ul {
    list-style: none;
    display: flex;
    gap: 1.5rem;
}

nav a {
    color: var(--corTerciaria);
    font-size: 1.3rem;
    text-decoration: none;
}

nav a:hover{
    color: var(--corSecundaria);
}
button{
    width: 9rem;
    height: 3rem;
    border: none;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 1rem;
}
#btn-contato{
    background-color: var(--corSecundaria);
    color: var(--corPrimaria);
    
}
#btn-cv{
    background-color: var(--corPrimaria);
    color: var(--corSecundaria);
    border: solid 1px var(--corSecundaria);
}
.container-info{
    width: 420px;
    display: flex;
    row-gap: 5px;
    flex-direction: column;
    justify-self: self-start;
    flex-wrap: wrap;
}
.container-btn{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 13px;
}
.container-img{
    display: flex;
    width: 40%;
    justify-self: center;

}
#apresentacao{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80%;
    height: 90vh;
    justify-content:space-between;
    align-items: center;
    
}
#about {
    width: 90%;
    height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #b493f028;
    justify-content: space-evenly;
    border-radius: 30px;
    border: solid #ffffff6e 1px;
}
.texto-sobre{
    width: 90%;

}
#video{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 10rem;
}
#video-fav{
    margin-top: 2rem;
    margin-bottom: 10rem;
}
footer, footer h3{
    background-color: var(--corSecundaria);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 1rem;
    color: var(--corPrimaria);
    font-weight: 600;
}
.section-footer{
    display: flex;
    justify-content: center;
    column-gap: 1rem;
}

.main_contato {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    width: 90%;
    margin: 2rem auto;
    height: 70vh;
}

form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1.5rem;
    border-radius: 0.75rem;
    width: 90%;
}

form input, textarea {
    padding: 0.5rem;
    border-radius: 0.75rem;
    border: none;
    font-size: 1rem;
}

textarea { 
    resize: none; 
    height: 5rem; 
}

form button {
    background: var(--corTerciaria);
    color: var(--corPrimaria);
    padding: 0.75rem;
    border: 1px solid var(--corTerciaria);
    border-radius: 0.75rem;
    font-weight: 700;
    cursor: pointer;
    width: 100%;
    margin-top: 1rem;
}

form button:hover { 
    background: var(--corSecundaria); 
}

form span{
    color: #ff0000;
    font-size: 0.75rem;
}

/* Mapa */
.article_mapa {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background: var(--white);
    padding: 1.5rem;
    border-radius: 0.75rem;
    height: 80%;
}

.article_mapa address {
    width: 80%;
    justify-content: center;
    display: flex;
}

.article_mapa address p { 
    font-weight: 600; 
    color: var(--corPrimaria);
}

.article_mapa iframe {
    align-self: center; 
}