:root{
    --corPrimaria: #171025;
    --corSecundaria: #A489D1;
    --corTerciaria: #DDD3EE;
    --corQuartenaria: #F0F0F0;
    --white: #ffffff;

}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Poppins", sans-serif;
    background: var(--corPrimaria);
    color: var(--corTerciaria);
}
h1, h2, h3{
    font-weight: 700;
}

h1{
    color: var(--white);
    font-size: 2rem;
}
h2{
    color: var(--corTerciaria);
    font-size: 1.5rem;
    font-weight: 600;
}
h3{
    color: var(--white);
    font-weight: 500;
    font-size: 1.2rem;
}
span {
    color: var(--corSecundaria);
}

#texto-resumo{
    font-size: 0.8rem;
}

p {
    color: var(--corQuartenaria);
    font-size: 1rem;
    line-height: 1.5rem;
}
section {
    width: 90%;
    margin: 2rem auto;
}

header {
    display: flex;
    padding: 1rem 2rem;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 1rem;
}

nav a {
    color: var(--corTerciaria);
    font-size: 1.1rem;
    text-decoration: none;
}

nav a:hover{
    color: var(--corSecundaria);
    text-decoration: underline;
}
button{
    width: 8rem;
    height: 2.5rem;
    border: none;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
}
#btn-contato{
    background-color: var(--corSecundaria);
    color: var(--corPrimaria);
    
}
#btn-cv{
    background-color: var(--corPrimaria);
    color: var(--corSecundaria);
    border: solid 1px var(--corSecundaria);
}
.container-info{
    width: 330px;
    display: flex;
    row-gap: 5px;
    flex-direction: column;
    align-self: flex-start;
}
.container-btn{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 5px;
}
.container-img{
    display: flex;
    width: 50%;
    justify-content: flex-end;
}
#apresentacao{
    display: flex;
    flex-direction: row;
    margin-top: 10rem;
    flex-wrap: wrap;
    width: 70%;
}